<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.blinkt.openvpn">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <application>
        <activity
            android:name=".LaunchVPN"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/vpn_launch_title"
            android:theme="@android:style/Theme.DeviceDefault.Light.Panel">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.DisconnectVPN"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:taskAffinity=".DisconnectVPN"
            android:theme="@style/Theme.Transparent"/>
        <service
            android:name=".core.OpenVPNService"
            android:foregroundServiceType="specialUse"
            android:exported="true"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService"/>
            </intent-filter>
            <property
                android:name="android.app.CONNECT_TO_VPN"
                android:value="vpn_service_does_not_fall_into_any_FGS_category_so_use_special"/>
        </service>
        <service
            android:name=".api.ExternalOpenVPNService"
            android:process=":openvpn"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="de.blinkt.openvpn.api.IOpenVPNAPIService"/>
            </intent-filter>
        </service>
        <service
            android:name=".core.OpenVPNStatusService"
            android:exported="false"
            android:process=":openvpn"/>
        <service android:name=".core.keepVPNAlive"
            android:process=":openvpn"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
    </application>
</manifest>